<div class="table-footer" style="position:relative; text-align:right;">

	<div id='pagination'>
		<span style="line-height: 34px; text-align:right; ">Total {{number_of_entries}} registros. {{show_label}}</span>
	  	<ul class="nav nav-pills">
	    	<li class='hidden'><a href="#" data="50" class="limit">50</a></li>
	    	<li class='hidden'><a href="#" data="100" class="limit">100</a></li>
	    	<li class='hidden'><a href="#" data="200" class="limit">200</a></li>
	    	<li class='hidden'><a href="#" data="300" class="limit">300</a></li>
	  	</ul>  
	</div>
</div>